@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}
@font-face {
    font-family: 'ClashDisplay';
    src: url('/fonts/ClashDisplay-Variable.ttf') format('truetype');
    font-weight: 100 900; /* Supports all weights */
    font-style: normal;
}
body {
    font-family: 'clashdisplay', sans-serif;
    letter-spacing: -0.5px;
}
h1 {
    @apply md:text-8xl sm:text-6xl text-5xl tracking-[-2px];
}
h1.small {
    @apply text-4xl;
}
h2 {
    @apply text-5xl tracking-[-3px];
}
h2.small {
    @apply text-2xl tracking-[-2px];
}
.btn {
    @apply text-base px-5 py-4 rounded-[35px] relative block duration-700 cursor-pointer;
}
.btn-large {
    @apply px-8 py-6;
}
.btn--white {
    @apply bg-white text-black hover:bg-primary/40 hover:text-white border border-black/25;
}
.btn--primary {
    @apply bg-black text-white hover:bg-primary/40;
}
.main--input {
    @apply block px-5 py-4 rounded-[30px] bg-transparent border border-black/25;
}
.main--input.counter {
    @apply block w-32 rounded-[30px] bg-transparent border border-black/25;
}
nav svg path {
    @apply fill-white;
}
.hero {
    @apply relative;
}
.hero::after {
    content: '';
    @apply absolute top-0 left-0 w-full h-full block bg-gradient-to-b from-white/75 to-white z-0;
}
.hero.alt::after {
    @apply bg-gradient-to-b from-white/100 via-white/85 to-white/100;
}
.main-card {
    @apply bg-black p-6 rounded-[35px] min-h-[400px];
}
.main-card.primary {
    @apply text-white;
}
.main-card.secondary {
    @apply text-white bg-black/20 border border-black/20;
}
.main-card.third {
    @apply text-black bg-white/40 border border-black/20;
}
.mobile-opener span {
    @apply block w-7 h-px bg-white mb-1 cursor-pointer duration-700;
}
.mobile-opener.active span:nth-child(1),.mobile-opener.active span:nth-child(2)  {
    @apply mb-0 transform;
}
.mobile-opener.active span:nth-child(1)  {
    @apply transform rotate-45;
}
.mobile-opener.active span:nth-child(2)  {
    @apply transform -rotate-45 -mt-px;
}
.mobile-opener.active span:nth-last-child(1)  {
    @apply opacity-0;
}
.mobile-opener span:nth-last-child(1) {
    @apply mb-0;
}
.mobile-menu-enter-active,
.mobile-menu-leave-active {
    transition: opacity 0.3s ease, transform 0.3s ease;
}
.mobile-menu-enter-from,
.mobile-menu-leave-to {
    opacity: 0;
    transform: translateY(-10px);
}
.mobile-menu-enter-to,
.mobile-menu-leave-from {
    opacity: 1;
    transform: translateY(0);
}
@media only screen and (max-width: 1080px) {
    .main-navbar {
        max-width: calc(100% - 40px);
    }
}
